.dr1013map {
  background-color: #f4f8fc;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 20px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); */
}

.dr1013map .map-section {
  text-align: center;
  margin: 2rem auto;
  max-width: 60%;
}
.dr1013map .map-section iframe {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.dr1013map .map-label {
  font-size: 1.8rem;
  font-weight: bold;
  color: #237A9B; /* rich chocolate brown */
  margin-bottom: 1rem;
}

.dr1013map .map-container {
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.dr1013map .map-frame {
  width: 100%;
  height: 400px;
  border: 0;
  display: block;
}

/* Responsive height for smaller screens */
@media (max-width: 800px) {
  .dr1013map .map-frame {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .dr1013map .map-frame {
    height: 250px;
  }

  .dr1013map .map-section {
  max-width: 85%;
}
  .dr1013map .map-label {
    font-size: 1.4rem;
  }
}
