.dr1013doctor {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 16px;
	background: #2083a1;
}

.dr1013doctor section {
	max-width: 1300px;
	margin: auto;
	padding: 60px 20px;
}

.dr1013doctor h2 {
	text-align: center;
	font-size: 2.8rem;
	margin-bottom: 60px;
	color: #fff;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.doctors-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 30px;
}

.doctor-card {
	background: #f4f8fd;
	border-radius: 24px;
	overflow: hidden;
	box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
	transition: all 0.4s ease;
	text-decoration: none;
	color: inherit;
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
	width: 300px;
}

.doctor-card:hover {
	transform: translateY(-1px);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.doctor-photo {
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: inline-block; /* change the default display type to inline-block */
	align-items: center;
	justify-content: center;
	background: linear-gradient(145deg, #1f1f1f, #2c2c2c);
}

.doctor-photo img {
	width: 100%;
	height: auto;
	object-fit:scale-down;
	/* object-fit: contain; */
	transition: transform 0.5s ease;
	justify-content: center;
	/* object-position: 0px 80px */
}


.doc1{
	object-position: 0px -8px
}

.doc2{
	object-position: 0px -43px
}

.doc3{
	object-position: 0px -30px
}


.doc4{
	object-position: 0px -115px
}

.doc5{
	object-position: 0px -18px
}

.doctor-card:hover .doctor-photo img {
	transform: translateY(-6px);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.doctor-info {
	padding: 22px;
}

.doctor-info h3 {
	font-size: 1.4rem;
	color: #2083a1;
	margin-bottom: 5px;
}

.qual, .role, .dept {
	font-size: 0.95rem;
	margin: 3px 0;
}

.doctor-card:hover h3 {
	color: #fcb83a;
}

.doctor-card:hover .dept {
	color: #fcb83a;
}


.doctor-card:hover .qual, .role, .dept {
	color: #fcb83a;
}


.qual { color: #666; }
.role { font-weight: 500; color: #2083a1; }
.dept { color: #444; }

.badge {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 100;
	background: #2083a1;
	color: #fff;
	font-size: 0.8rem;
	padding: 6px 10px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 114, 255, 0.3);
}

.doctor-more {
	text-align: right;
	padding: 0 22px 20px;
	margin-top: auto;
}

.more-btn {
	display: inline-block;
	padding: 8px 16px;
	background-color: #2083a1;
	color: #fff;
	border-radius: 8px;
	font-size: 0.9rem;
	font-weight: 500;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.more-btn:hover {
	background-color: #fcb83a;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.dr1013doctor h2 {
		font-size: 2rem;
	}
	.doctor-photo {
		height: 300px;
	}
}