/* Header Section */
.dr1013header {
	margin: 0;
	padding: 0;
}
.dr1013header .header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 120px;
}

.dr1013header .top-row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 10px;
}

.dr1013header header {
	background: #fefefe;
	color: #2083a1;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dr1013header .logo img {
	width: 150px;
	height: 100px;
	/* display: block; */
	margin: 15px 20px;
	/* border-image-width: 15px 40px; */
}

/* .dr1013header .header-container {
	max-width: 100%;
	margin: auto;
	padding: 0.3rem 1rem; /* Reduced padding */
/* } */ */


.dr1013header .header-title {
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}

.dr1013header .header-subtitle {
	font-size: 0.9rem;
	margin-top: 2px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: 0.3px;
}

.dr1013header .menu-toggle-container {
	align-self: center;
}

.dr1013header .menu-toggle {
	display: none;
	font-size: 2rem;
	color: #2083a1;
	cursor: pointer;
	margin-right: 20px;
}

.dr1013header nav {
	/* margin-left: auto; */
    align-items: center;
	align-self: center;
}

.dr1013header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
}

.dr1013header nav ul li a {
	color: #2083a1;
	text-decoration: none;
	font-weight: 500;
	padding: 6px 10px;
	transition: background 0.2s ease;
	font-size: 0.95rem;
	border-radius: 4px;
    margin: auto;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
}

.dr1013header nav ul li a:hover {
	/* background: rgba(251, 255, 255, 0.15); */
	/* background-color: #E5E4E2; */
	background-color: #f4f8fd;
	border-radius: 5px;
    color: #fcb83a;
}

/* Mobile View */
@media ( max-width : 768px) {
	.dr1013header .top-row {
		flex-direction: row;
		justify-content: space-between;
	}
	.dr1013header .menu-toggle {
		display: block;
		margin-right: 20px;
	}
	.dr1013header nav {
		width: 100%;
        margin-top: 12px;
	}

	.dr1013header nav {
		position: relative;
		top: 65px;
		right: 0;
		z-index: 100;
		visibility: visible;
		width: 300px;
		height: 100%;
		background: #FEFEFE;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	.dr1013header nav ::after {
		position: relative;
		top: 65px;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		content: '';
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	.dr1013header nav ul {
		display: none;
		flex-direction: column;
		background: #FEFEFE;
		width: 100%;
		visibility: visible;
	}
	.dr1013header nav.show {
		display: flex;
		visibility: visible;
	}
	.dr1013header nav ul.show {
		display: flex;
        max-height: 60vh;
        overflow-y: auto;
		z-index: 1000;
	}
	.dr1013header nav ul li {
		padding: 10px 16px;
		/* border-bottom: 1px solid #066; */
	}
	.dr1013header nav ul li:last-child {
		border-bottom: none;
	}
}
