.dr1013footer {

}

.dr1013footer .footer {
	background-color: #237A9B;
	color: #e3f2fd;
	padding: 60px 30px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dr1013footer .footer-column {
	flex: 1 1 240px;
	margin: 20px;
}

.dr1013footer .footer-logo {
	display: flex;
	align-items: center;
	gap: 15px;
}

.dr1013footer .footer-logo img {
	width: 60px;
	height: auto;
}

.dr1013footer .footer h3 {
	margin-top: 15px;
	font-size: 1.2rem;
	color: #e3f2fd;
}

.dr1013footer .footer p, .footer a {
	color: #e0e0e0;
	font-size: 0.95rem;
	text-decoration: none;
	line-height: 1.6;
}

.dr1013footer .footer a:hover {
	text-decoration: underline;
	background: rgba(255, 255, 255, 0.15);
    color: #fcb83a;
}

.dr1013footer .social-icons {
	display: flex;
	gap: 12px;
	margin-top: 10px;
}

.dr1013footer .social-icons a {
	width: 32px;
	height: 32px;
	background: #ffffff22;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: 0.3s;
}

.dr1013footer .social-icons a:hover {
	background: #fcb83a;
}

.dr1013footer .qr-code img {
	width: 100px;
	height: 100px;
	margin-top: 10px;
}

.dr1013footer .footer-bottom {
	text-align: center;
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid #ffffff44;
	font-size: 0.85rem;
	color: #cccccc;
}

@media ( max-width : 632px) {
	.dr1013footer .footer {
		flex-direction: column;
		align-items: center;
	}
	.dr1013footer .footer-column {
		text-align: center;
	}
	.dr1013footer .footer-logo {
		justify-content: center;
	}
}
